In [ ]:
#Please follow the Bringing_out_req_data.ipynb file before this for better understanding

In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
df_train=pd.read_csv('train_data.csv',index_col=False)
#reading the csv file we previously stored

In [7]:
df_train.head()
# column number 784 represents operators +,-,*(times)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

In [8]:
labels = df_train[['784']]
#storing 784th column that is operator's column separately

In [9]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()
#dropping the 784th column as we have stored it separately

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

# Building a model

In [11]:
np.random.seed(1212)
#This will ensure same result generation, ensures same reproducibility
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K

In [12]:
labels=np.array(labels)
#Creating a new array for operators named labels

In [15]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=14)
#converting integer to binary class matrix, num_classes =  14 as we have 14 different labels 0-9,+,-,*(times),/(div)

In [16]:
print(cat[0])
#represent class variable for first element

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]

In [18]:
df_train.shape

(280105, 784)

(280105, 784)

In [19]:
l=[]
for i in range(280105):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [20]:
np.random.seed(7)

In [50]:
model = Sequential()
model.add(Conv2D(30, (5, 5), input_shape=(28,28,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(14, activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [51]:
model.fit(np.array(l).reshape(-1,28,28,1), cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
Epoch 1/10
1401/1401 [==============================] - 217s 155ms/step - loss: 0.0544 - accuracy: 0.9056
1401/1401 [==============================] - 217s 155ms/step - loss: 0.0544 - accuracy: 0.9056
Epoch 2/10
Epoch 2/10
1401/1401 [==============================] - 212s 151ms/step - loss: 0.0129 - accuracy: 0.9781
1401/1401 [==============================] - 212s 151ms/step - loss: 0.0129 - accuracy: 0.9781
Epoch 3/10
Epoch 3/10
1401/1401 [==============================] - 190s 136ms/step - loss: 0.0085 - accuracy: 0.9856
1401/1401 [==============================] - 190s 136ms/step - loss: 0.0085 - accuracy: 0.9856
Epoch 4/10
Epoch 4/10
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0065 - accuracy: 0.9897
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0065 - accuracy: 0.9897
Epoch 5/10
Epoch 5/10
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0054 - accuracy: 0.9915
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0054 - accuracy: 0.9915
Epoch 6/10
Epoch 6/10
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0044 - accuracy: 0.9929
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0044 - accuracy: 0.9929
Epoch 7/10
Epoch 7/10
1401/1401 [==============================] - 193s 137ms/step - loss: 0.0040 - accuracy: 0.9936
1401/1401 [==============================] - 193s 137ms/step - loss: 0.0040 - accuracy: 0.9936
Epoch 8/10
Epoch 8/10
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0036 - accuracy: 0.9943
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0036 - accuracy: 0.9943
Epoch 9/10
Epoch 9/10
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0032 - accuracy: 0.9948
1401/1401 [==============================] - 192s 137ms/step - loss: 0.0032 - accuracy: 0.9948
Epoch 10/10
Epoch 10/10
1401/1401 [==============================] - 190s 136ms/step - loss: 0.0029 - accuracy: 0.9951
1401/1401 [==============================] - 190s 136ms/step - loss: 0.0029 - accuracy: 0.9951

In [52]:
from keras.models import model_from_json

In [53]:
#saving the model to json and weights
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")